@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=fallback');

:root {
    --base-font-size                                  : 16px;
    --base-font-family                                : "Open sans"; /*--base-color: var(--mono-shade2);*/
    --link-color                                      : #000; /*#0A75BD*/
    --link-color--hover                               : #EE868F;
    --link-text-decoration                            : underline dashed;
    --link-text-decoration-color                      : #000;
    --sidebar-name-color                              : #000;
    --sidebar-background                              : #DCD0C5;
    --sidebar-nav-link-color--active                  : #4D4D4D;
    --blockquote-border-color                         : #EE868F;
    --heading-font-family                             : "IBM Plex Sans";
    --sidebar-nav-link-font-weight--active            : bold;
    --sidebar-border-color                            : #BAB3AC;
    /*--sidebar-nav-strong-font-size                    : 14px;*/

    --sidebar-width                                   : 22rem;
    --sidebar-nav-pagelink-background-image           : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11.2' viewBox='0 0 7 11.2'%3E%3Cpath d='M1.5 1.5l4 4.1 -4 4.1' stroke-width='1.5' stroke='black' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    --sidebar-nav-pagelink-background-image--active   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='7' viewBox='0 0 11.2 7'%3E%3Cpath d='M1.5 1.5l4.1 4 4.1-4' stroke-width='1.5' stroke='black' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    --sidebar-nav-pagelink-background-image--collapse : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11.2' viewBox='0 0 7 11.2'%3E%3Cpath d='M1.5 1.5l4 4.1 -4 4.1' stroke-width='1.5' stroke='black' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    --sidebar-nav-pagelink-background-image--loaded   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='7' viewBox='0 0 11.2 7'%3E%3Cpath d='M1.5 1.5l4.1 4 4.1-4' stroke-width='1.5' stroke='black' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
}

.markdown-section a {border-bottom:var(--link-border-bottom);color:var(--link-color);-webkit-text-decoration:var(--link-text-decoration);text-decoration:var(--link-text-decoration);-webkit-text-decoration-color:var(--link-text-decoration-color);text-decoration-color:var(--link-text-decoration-color)}

.markdown-section a:hover {
  border-bottom:var(--link-border-bottom--hover, var(--link-border-bottom, 0));
  color:var(--link-color--hover, var(--link-color));
  -webkit-text-decoration:var(--link-text-decoration--hover, var(--link-text-decoration));
  text-decoration:var(--link-text-decoration--hover, var(--link-text-decoration));
  -webkit-text-decoration-color:var(--link-text-decoration-color--hover, var(--link-text-decoration-color));
  text-decoration-color:var(--link-text-decoration-color--hover, var(--link-text-decoration-color))}

.markdown-section a:visited {
  color: grey;
}

.markdown-section a:visited.anchor  {
color: var(--base-color);
}

.markdown-section a.anchor {
  color:inherit;
  text-decoration:none}
.markdown-section a.anchor:hover {color:inherit; text-decoration:underline; }
.markdown-section a:visited:hover {color:inherit; }
/*.pagination-item a:hover .pagination-item-title {
    text-decoration: underline;
    color:inherit;
}*/
.pagination-item a:visited .pagination-item-title {
    color: inherit;
}
.pagination-item:not(:last-child) a:hover .pagination-item-title, .pagination-item:not(:last-child) a .pagination-item-title, .pagination-item:not(:last-child) a:hover .pagination-item-label, .pagination-item:not(:last-child) a .pagination-item-label {
  -webkit-transition:none !important;
  -moz-transition:none !important;
  -o-transition:none !important;
  transition:none !important;
}

.sidebar .search input[type="search"]:focus {
  -webkit-box-shadow: none;
    box-shadow: none;}

  /*.sidebar .search input[type="search"]:focus {
    background-color:var(--search-input-background-color--focus, var(--search-input-background-color));background-image:var(--search-input-background-image--focus, var(--search-input-background-image));background-position:var(--search-input-background-position--focus, var(--search-input-background-position));background-size:var(--search-input-background-size--focus, var(--search-input-background-size))}*/

/*font-family: var(--base-font-family);
--base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/

.markdown-section a {
    border-bottom: var(--link-border-bottom);
    color: var(--link-color);
    -webkit-text-decoration: var(--link-text-decoration);
    text-decoration: var(--link-text-decoration);
    -webkit-text-decoration-color: var(--link-text-decoration-color);
    text-decoration-color: var(--link-text-decoration-color);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; overflow: hidden;
  max-width: 100%;
}

.video-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
}

.responsive-wrap iframe{
  max-width: 100%;
}

h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
       &:first-child {
           margin-top: 0;
       }
   }

   /*h1 {
       margin: var(--heading-h1-margin, var(--heading-margin));
       padding: var(--heading-h1-padding, var(--heading-padding));
       border-width: var(--heading-h1-border-width, 0);
       border-style: var(--heading-h1-border-style);
       border-color: var(--heading-h1-border-color);
       font-family: var(--heading-h1-font-family, var(--heading-font-family));
       font-size: var(--heading-h1-font-size);
       font-weight: var(--heading-h1-font-weight, var(--heading-font-weight));
       line-height: var(--base-line-height);
       color: var(--heading-h1-color, var(--heading-color));
   }*/


    section.content > aside.nav > .page_toc {
        position: relative;
        left: 0;
        top: 80px !important;
        font-size: 14px;
    }

  }
  section.content > aside.nav > .page_toc ul a:hover span {
        color: var(--text-color-tertiary, #EE868F) !important;
        color: #EE868F !important;
}


.nav .page_toc ul a:hover span {
  color: #EE868F !important;
}
aside.nav > .page_toc .active {
  border-left: 5px solid;
  color: var(--theme-color, #EE868F) !important;
  padding-left: 10px;
}
/*section.content > aside.nav > .app-nav li a:hover, .nav>.app-nav>ul>li>a:hover, .nav>.app-nav>ul>li>span:hover {
    color: #EE868F !important;
}
/*.app-nav>ul>li>a:visited, .app-nav>ul>li>a:visited>span {
    color: #EE868F!important;
    text-decoration: underline !important;
}*/
nav.app-nav li a:active, nav.app-nav li a:hover {
    color: #EE868F !important;
}
nav.app-nav li a:visited {
    color: inherit;
}

/*SIMON
}
nav.app-nav li a:active, nav.app-nav li a:hover {
    color: #ED7C00 !important;
}
nav.app-nav li a:visited {
    color: inherit;
}*/


/*.app-nav>ul>li>a:hover,.app-nav>ul>li>span:hover {
  background:var(--navbar-root-background--hover, var(--navbar-root-background));
  border-style:var(--navbar-root-border-style--hover, var(--navbar-root-border-style));
  border-color:var(--navbar-root-border-color--hover, var(--navbar-root-border-color));
  color:var(--navbar-root-color--hover, var(--navbar-root-color));
  -webkit-text-decoration:var(--navbar-root-text-decoration--hover, var(--navbar-root-text-decoration));
  text-decoration:var(--navbar-root-text-decoration--hover, var(--navbar-root-text-decoration));-webkit-text-decoration-color:var(--navbar-root-text-decoration-color--hover, var(--navbar-root-text-decoration-color));
  text-decoration-color:var(--navbar-root-text-decoration-color--hover, var(--navbar-root-text-decoration-color))}

/*.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    width: var(--sidebar-width);
    padding: var(--sidebar-padding);
    border-width: var(--sidebar-border-width);
    border-style: solid;
    border-color: var(--sidebar-border-color);
    background: var(--sidebar-background);
}*/

/*.sidebar>h1{margin:0;margin:var(--sidebar-name-margin);padding:var(--sidebar-name-padding);background:var(--sidebar-name-background);color:var(--sidebar-name-color);font-family:var(--sidebar-name-font-family);font-size:var(--sidebar-name-font-size);font-weight:var(--sidebar-name-font-weight);text-align:var(--sidebar-name-text-align)}.sidebar>h1 img{max-width:100%}.sidebar>h1 .app-name-link{color:var(--sidebar-name-color)}body:not([data-platform^="Mac"]) .sidebar::-webkit-scrollbar{width:5px}body:not([data-platform^="Mac"])
.sidebar::-webkit-scrollbar-thumb{border-radius:50vw}@media (min-width: 48em){.sidebar{position:absolute;transform:translateX(var(--sidebar-width))}}@media print{.sidebar{display:none}}.sidebar-nav,
.sidebar nav{order:1;margin:var(--sidebar-nav-margin);padding:var(--sidebar-nav-padding);background:var(--sidebar-nav-background)}.sidebar-nav ul,.sidebar nav ul{margin:0;padding:0;list-style:none}.sidebar-nav ul ul,.sidebar nav ul ul{margin-left:var(--sidebar-nav-indent)}*/

.sidebar-nav a,.sidebar nav a
{
  font-size: 14px;
  white-space: normal;
  display:block;
  overflow: visible;
    /*overflow:hidden;


  margin:var(--sidebar-nav-link-margin);
  padding:var(--sidebar-nav-link-padding);
  border-width:var(--sidebar-nav-link-border-width, 0);
  border-style:var(--sidebar-nav-link-border-style);border-color:var(--sidebar-nav-link-border-color);border-radius:var(--sidebar-nav-link-border-radius);background-color:var(--sidebar-nav-link-background-color);background-image:var(--sidebar-nav-link-background-image);background-position:var(--sidebar-nav-link-background-position);background-repeat:var(--sidebar-nav-link-background-repeat);background-size:var(--sidebar-nav-link-background-size);
  color:var(--sidebar-nav-link-color);
  font-weight:var(--sidebar-nav-link-font-weight);

  -webkit-text-decoration:var(--sidebar-nav-link-text-decoration);text-decoration:var(--sidebar-nav-link-text-decoration);-webkit-text-decoration-color:var(--sidebar-nav-link-text-decoration-color);text-decoration-color:var(--sidebar-nav-link-text-decoration-color);
  text-overflow:ellipsis;
transition:var(--sidebar-nav-link-transition)*/}
